.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
ASV_table.tsv
ASV_tax_species.tsv
P18960_smd.tsv
P21015_ASV_table.tsv
P21015_ASV_tax_species.tsv
P21015_seqtab.tsv
P21015_smd.tsv
P21015_taxonomy.tsv
P26201_smd.tsv
didactic-spork.Rproj
feature-table.tsv
figures
growth.tsv
smd.P21015.P26201
smd.P21015.P26201.tsv
tax.P21015.P26201.tsv
äspö.ai
micro_cultures.tsv
M.Dopson_22_09_qpcr.xlsx
