.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
didactic-spork.Rproj
figures
P15009
P21015
P26201
QK1636
M.Dopson_22_09_qpcr.xlsx
manuscript.docx
abstract.docx
em
data/ena/
data/mag/
data/kmapper/
data/em/
data/meteoric_cultures.txt
data/*.xlsx
data/temp/
didactic-spork_cache
didactic-spork_files
cultures.bins.tsv
didactic-spork.Rmd
Rhistory
banana.txt
bins-temp.tsv
grateful-refs.bib
temp.tsv
submission
