.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
didactic-spork.Rproj
figures
P15009
P21015
P26201
QK1636
M.Dopson_22_09_qpcr.xlsx
manuscript.docx
abstract.docx
em
data/ena/
data/kmapper/
data/em/
data/meteoric_cultures.txt
data/*.xlsx
data/temp/
didactic-spork_cache
didactic-spork_files
cultures.bins.tsv
didactic-spork.Rmd
Rhistory
banana.txt
bins-temp.tsv
grateful-refs.bib
temp.tsv
submission
data/ampliseq/ASV_tax.tsv.gz
data/mag/MW-score_reaction_table.txt
data/mag/emapper.tsv.gz
data/mag/gtdbtk.summary.tsv
data/mag/magmap.overall_stats.tsv.gz
data/mag/quality_report.tsv
data/mag/overall_summary.tsv
data/mag/metabolic.tsv.gz
